.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, purple, rgb(61, 1, 61));
    color: white;
    height: 50px;
  }
  
  h1 {
    text-align: center;
  }
  
  .overallContainer {
    display: flex;
    flex-direction: column;
  }
  
  .main-container {
    display: flex;
    flex-direction: row;
    flex: 1;
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 10px;
    margin-right: 8px;
  }
  
  .citySearchContainer {
    margin-bottom: 20px;
  }
  
  .content-container {
    flex: 3;
    padding: 10px;
  }
  
  button {
    border-radius: 5px;
  }

  .city-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .resultsContainer {
    display: flex;
    flex-direction: column;
  }
  
  .search-history-container {
    text-align: center;
  }
  
  .search-history-container .section-title {
    margin-top: 0;
  }
  
  .search-history-button {
    background-color: purple;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
  }
  
  .search-history-button:hover {
    background-color: #ec82e4;
  }
  
  .forecast-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .weather-item {
    flex: 1 1 200px;
    max-width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: lightgray;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  
  .current-weather-container {
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .current-weather-container h2 {
    margin-top: 0;
  }
  
  /* Adjustments for smaller screens */
  @media only screen and (max-width: 768px) {
    .main-container {
      flex-direction: column;
    }
  
    .sidebar {
      width: 100%;
    }
  
    .forecast-cards-container {
      justify-content: center;
    }
  
    .weather-item {
      flex-basis: 200px;
      margin-bottom: 10px;
    }
  }
  
  /* Adjustments for even smaller screens */
  @media only screen and (max-width: 480px) {
    .nav-bar {
      height: auto;
      padding: 10px;
    }
  
    .nav-bar h1 {
      font-size: 18px;
    }
  
    .sidebar {
      padding: 5px;
    }
  
    .citySearchContainer {
      margin-bottom: 10px;
    }
  
    .search-history-button {
      width: 100%;
    }
  }
  
